h1.title1 {
  color: purple;
  background-color: blue;
  height: 100px;
  font-size: 40px;
}

h2.title2 {
  color: orange;
  font-size: 50px;
  background-color: yellow;
  height: 150px;
}

.days {
  list-style-position: inside;
}

.days li {
  text-transform: uppercase;
  color: #a0a;
  font-size: 1.4em;
}

.flavors {
  list-style-type: square;
  text-transform: lowercase;
}
.nav-h,
.nav-v {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-h li {
  float: left;
}

.nav-v {
  width: 200px;
}

ul li a:hover {
background-color: #111;
}

.active {
  background-color: aqua;
}
p {
  background-color: yellow;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: green
  ;
}

h4 {
  text-transform: lowercase;
  

}

h1 {
  text-align: center;
}

#handling-div {
  background-color: #17255a;
}

#handling-h1 {
  text-align: left;
  background-color: #7c9885;
}

#Handling-p {
  background-color: #5e0b15;
  text-align: left;
  /* margin-top: 0;
  margin-bottom: 0; */
  display: inline;
  /* display: inline-block; */
}

#Handling-a {
  background-color: yellow;
  /* margin-top: 0;
  margin-bottom: 0; */
  display: block;
  /* display: inline-block; */
}

.box-model1, .box-model2 {
  text-align: left;
  width: 400px;
  height: 120px;
  padding: 20px;

}

.box-model1 {
  border: 10px dashed red;
  margin: 0 0 20px 0;
  /* margin top - right - bottom - left */

}
.box-model2 {
  border: 10px soild red;
  box-sizing:  border-box;
}

.Position-example {
background-color: green;
height: 150px;
}

.Position-a {
  background-color: orange;
  text-align: left;
  position: absolute;
}

.position-r {
   background-color: yellow;
   color: black;
}