* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background: lightblue;
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  padding: 30px 0;
}

.table-wrapper {
  margin: 10px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.main-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  max-width: 100%;
  background-color: white;
}

.main-table td,
.main-table th {
  text-align: center;
  padding: 8px;
}

.main-table td {
  border-right: 1px #f8f8f8;
  font-size: 12px;
}

.main-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

/* Makes table header diffrent colors and makes the odd order color pattern */
.main-table thead th:nth-child(odd) {
  color: #ffffff;
  background: black;
}

.main-table tr:nth-child(even) {
  background: rgb(165, 167, 168);
}

@media (max-width: 768px) {


.main-table {
    display: block;
}
 
.table-wrapper::before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 10px 0;
}

  .main-table thead,
  .main-table tbody,
  .main-table thead th {
    display: block;
  }

  .main-table th:last-child {
    border-bottom: none;}

    .main-table thead {
        float: left;

    }

    .main-table tbody {
        width: auto;
        overflow-x: auto;
    }

    .main-table td, .main-table th {
        padding: 20px .645em .635em .625em;
        height: 60px;
        vertical-align: middle;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .main-table thead th {
        text-align: center;
        border-bottom: 1px solid #f7f6f9

    }

    .main-table tbody tr {
        display: table-cell;
    }

    .main-table tbody tr:nth-child(odd) {
        background: none;
    }
    .main-table tr:nth-child(even) {
        background: transparent;
        
    }

    .main-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e6;
    }

    .main-table tbody td{
        display: block;
    }    

    
  }

